/* From Uiverse.io by vamsidevendrakumar */ 
p{
  color: #615049;
}
p:hover{
  color: #814d0d;
  cursor: pointer;
}
h3{
  color: #393734
}
h3:hover{
  color: #814d0d;
  cursor: pointer;
}
.cardF {
    width: 400px;
    height: 250px;
    perspective: 2000px;
    cursor: pointer;
  }

  .smanjiSlova{
    margin-left: 2.5vw;
    font-size: medium;
    font-family: 'Noto Sans Ethiopic', sans-serif;
  
}

  @media only screen and (max-width: 1400px){

.cardF{
    width: 300px;
height: 200px;
}
.smanjiSlova{
    font-size: 15px;
}
}
@media only screen and (max-width: 1100px){

.cardF{
    width: 200px;
height: 130px;
}
.smanjiSlova{
    font-size: 12px;
}
}


  
  .cardF-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .cardF:hover .cardF-inner {
    transform: rotateY(180deg);
  }
  
  .cardF-front,
  .cardF-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .cardF-front {
    background-color: none;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .cardF-back {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  
  .cardF-front img {
    width: 100%;     
    height: 100%;      
    object-fit: cover; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardF-back {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  transition: opacity 2s ease; /* Smooth transition */
}

.cardF-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: opacity 2s ease;
}

.cardF-back:hover img {
  opacity: 0.7; /* Dim the image */
}

.hover-text {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5vw;
  opacity: 0; /* Initially hidden */
  transition: opacity 2.5s ease;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cardF-back:hover .hover-text {
  opacity: 1; /* Show text on hover */
}


.sub {
  color: '#615049'
}